.banner {
    flex: 0 0 auto;
    width: 60%;
    padding: 32px 24px;
}
.bannertext {
    flex: 0 0 auto;
    width: 40%;
}
.img-fluid-banner {
    max-width: 100%;
}
.bannertitle{
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A;
    font-weight: 800;
}
.bannerContent{
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A;
    font-weight: 500;
}
.startHereBtn{
    width: 27vw;
    height: 4vw;
}