html {
    font-size: 20px;
}
.firstrow {
    background: #D8D8D8;
}
.secondrow {
    background: #f1f1f1;
    padding-top: 32px;
    padding-left: 24px;
}
.navbar {
    padding-top: 7px;
    padding-bottom: 7px;
}
.logo {
    margin: 0px;
    padding: 0px 24px;
}
.brand {
    margin: 0px;
    padding: 0px;
}
.colmar{
    color: #4A4A4A;
    font-weight: 800;
}
.academy{
    color: #9d9d9d;
    font-weight: 600;
}
.menu {
    color: #4A4A4A;
    font-weight: 600;
}
.menuComponent {
    padding: 0px !important;
    margin: 0px 8px;
}
.col-md-40p {
    flex: 0 0 auto;
    padding: 0px;
    width: 40%;
}
.col-md-60p {
    flex: 0 0 auto;
    width: 60%;
    padding: 0px 24px 0px 0px;
}
.banner {
    flex: 0 0 auto;
    width: 60%;
    padding: 32px 24px;
}
.bannertext {
    flex: 0 0 auto;
    padding: 0px;
    width: 40%;
}
.bannertitle{
    font-family: 'Hind', sans-serif;
    color: #4A4A4A;
    font-weight: 700;
    margin: 0px;
    padding: 1vw 0vw;
    font-size: 4vw;
}
.bannerContent{
    font-family: 'Hind', sans-serif;
    color: #4A4A4A;
    font-weight: 600;
    font-size: 2.2vw;
    margin: 0px;
    padding: 1vw 0vw;
}
.startHereBtn{
    width: 30vw;
    padding: 8px 0px;
}
.info {
    font-family: 'Hind', sans-serif;
    color: #4A4A4A;
    font-weight: 700;
    font-size: 40px;
    padding-top: 32px;
    margin: 0px;
}
.infoContent {
    font-family: 'Hind', sans-serif;
    color: #9d9d9d;
    font-weight: 700;
    font-size: 16px;
    padding-top: 24px;
    margin: 0px;
}
.infoRightContent {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
}
.infoExtra {
    font-family: 'Hind', sans-serif;
    color: #9d9d9d;
    font-weight: 700;
    font-size: 12px;
    margin: 0px;
}
.picCard{
    width: 100%;
    padding-left: 16px;
    background-color: #f1f1f1;
}
.picCard3{
    width: 100%;
    padding-left: 16px;
    background-color: #9d9d9d;
}
.cardRightSide {
    width: 65%;
    padding: 0px;
}
.cardLeftSide {
    width: 35%;
    padding: 0px 0px 0px 16px;
}
.div2Rimg {
    width: 100%;
    height: auto;
}
.card-body {
    padding: 0px;
    padding-left: 16px;
}
.cardRow {
    max-width: 90%;
    padding: 16px 0px;
}
.readmore {
    padding: 0px;
}
.card-title{
    font-family: 'Hind', sans-serif;
    color: #4A4A4A;
    font-weight: 600;
}
.card-text{
    font-family: 'Hind', sans-serif;
    color: #4A4A4A;
    font-weight: 400;
}
.mainimg {
    width: 100%;
}